<p><%= link_to image_tag("trashbin.png", size: "25x20"), notification_path(notification.id), method: :delete %> <%= link_to " #{image_tag Comment.find_by(id: notification.comment_id).user.gravatar_url, size: "25x20"} #{Comment.find_by(id: notification.comment_id).user.name}".html_safe, user_path(Comment.find_by(id: notification.comment_id).user.id) %> commented on
  <% if notification.commentable_type = "Video" %>
    <%= link_to "your video", video_path(notification.commentable_id) %></p>
  <% elsif notification.commentable_type = "Comment" %>
    <%= link_to "your comment", video_path(notification.commentable.commentable.id) %>
  <% end %></p>

