<% User.all.each do |user| %>
  <p>
    <%= link_to user.name, user_path(user) %><br>
    <a href="#" data-reveal-id="user-modal"><%= image_tag user.gravatar_url(:size => 20) %></a> <%= user.name %>
  </p>
<% end %>