<div id="user-container">  
  <%= render "profile" %>
  <%= render "comments" %>
</div>

<div id="sendmessage-modal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog"></div>