<h2><%= @video.title %></h2>
<p><%= @video.description %></p>
<p><%= @video.category %></p>
<p><%= @video.availability %></p>
<div id="video" style="width: 360px; height: 300px;"></div>
<div id="comments_container"></div>