<html>
<style>
   .top-bar { display: none; }
   #splash-text { display: none; }
   .welcome-modals li { display: none; }
</style>

  <div id="bg">
    <%= image_tag("static.gif", id: "background") %>
  </div>

  <div id="text">
    <p id="splash-text">
      <span id="tube">tube</span><span id="genius">Genius</span>
    </p>
  </div>

  <ul class="welcome-modals" style="text-align:center;">
    <li>
      <a class="button round" href="#" data-reveal-id="signup-modal" id="buttonForSignUp">Sign Up</a>
      <a href="#" class="button round" data-reveal-id="signin-modal" id="buttonForSignIn">Sign In</a>
      <row>
         <li>
          <a style="width:240px;" href="<%= videos_path %>" class="button success round">Browse</a>
        </li>
      </row>
  </ul>

  <script>
    $(document).foundation("reflow");
  </script>
</html>