<html>
  <div id="bg">
    <%= image_tag("static.gif", id: "background") %>
  </div>  

  <div id="text">
    <p id="splash-text">tubeGenius</p>
  </div>

  <script>
    $(document).foundation("reflow");
  </script>
</html>