/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .row {
  margin:0px;
 }

 .columns, .medium-9, .medium-3 {
  margin:0px;
  padding:0px;
 }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 80%;
  height: 80%;
}

body {
  background: #F5F5F5;
}

.icon {
  display: inline-block;
}

ul {
  list-style: none;
}

ul.breadcrumbs li:before {
  content: "|";
}

ul.breadcrumbs{
  background-color: white;
  border-radius: 5px;
}

li.message_items{
  background-color: white;
  border-radius: 5px;
}

.top-bar {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 1px black;
}

.top-bar .name h1 a {
  font-size: 30px;
  color: black;
  width: 50%;
  padding: 0 15px;
  font-family:Londrina Solid;
}

.top-bar ul li.message-box a {
  background-color: #FFFFFF !important;
}

.top-bar ul li.notifications a {
  background-color: #FFFFFF !important;
}

.top-bar ul li.dropdown-item a {
  color: black;
  background-color: #FFFFFF !important;
}

.top-bar ul li.dropdown-item a:hover {
  color: gray;
  background-color: #FFFFFF !important;
}

.notification {
  border-bottom: 1px solid black;
  padding: 10px;
}
.unread {
  background-color: #FFFF99;
}

div.video-index {
  margin:0.5%;
  position: relative;
  text-align: center;
  line-height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}

ul#video-index-breadcrumbs {
  background-color: #F5F5F5;
  border: 1px solid #666;
  -webkit-box-shadow: 1px 1px 1px #888;
  -moz-box-shadow: 1px 1px 1px #888;
}

nav#video-index-nav{
}

#dropdown-menu {
  min-width:115px;
}

.flash {
  color: red;
}

#video-container {
  margin-top:0.5%;
}
