#video {
  padding-right:15px;
  border-right: 1px solid black;
  position: relative;
  width:100%;
  height:90%;
}

.comment {
  font-size:20px;
  margin:10px;
  padding:10px;
  border: 1px solid black;
}

#comments_container {
  position:absolute;
  display:inline-block;
  float:top;
}

.row {
  height:100%;
  margin:0;
}

/*.new_comment {
  display:none;
}*/

#comment_button {
  margin-top:15px;
}
