// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_items {
  border: 1px solid black;
  div {
  background-color: #D3D3D3;
  }
}

.message_box {
  width: 75%;
  margin: auto;
  background-color: #D3D3D3
}

.chatting_with {
  padding: 25px;
  display: inline-block;
}

.messages {
  padding: 25px;
  border-bottom: 1px solid black;
}