#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index:1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#splash-text {
  position:relative;
  font-family:Londrina Outline;
  font-size:200px;
  z-index:2;
  color:white;
}

#background {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.welcome-modals {
  position:relative;
  z-index:2;
  margin-top: 30%;
  margin-left: 40%;
  margin-right: 40%;
  display:inline-block;
}